<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">

  <header class="article-header">
    <%- partial('post/title', {class_name: 'article-title'}) %>
  </header>

  <div class="article-meta">
    <div class="article-date-wrap">
        <span class="glyphicon glyphicon-time"></span>
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>    
    </div>

    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </div>
  <div class="article-inner">

    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a class="btn btn-primary" href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <div id="toc" class="toc-article">
          <p class="toc-title">目次</p>
          <%- toc(post.content) %>
        </div>
        <%- post.content %>
      <% } %>
      <% if (!(post.excerpt && index)){ %>
        <div class="share-icons">
          <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          <span id="share-contents"></span>
        </div>
      <% } %>
    </div>
    <script>
      const url = document.location.href;
      const title = document.title + ' ';
      const encodedUrl = encodeURIComponent(url);
      const encodedTitle = encodeURIComponent(title);
      var html = [
        '<a href="https://twitter.com/intent/tweet?' + 'text=' + encodedTitle + '&url=' + encodedUrl + '" class="article-share-x" target="_blank" title="Twitter"></a>',
        '<a href="https://www.facebook.com/sharer.php?u=' + encodedUrl + '" class="article-share-facebook" target="_blank" title="Facebook"></a>',
      ].join('');
      document.getElementById('share-contents').insertAdjacentHTML('afterbegin', html);
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9198003416420881"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-9198003416420881"
        data-ad-slot="2932565920"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <% if (!(post.excerpt && index)){ %>
      <%- partial('post/gallery') %>
    <% } %>

    <footer class="article-footer">
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">
          <i class="fa fa-comment"></i> Comments
        </a>
      <% } %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
